.text-outline {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.text-rainbow {
  background: linear-gradient(to bottom right, #8b5cf6 25%, #10b981 35%, #3b82f6 45%, #8b5cf6 55%, #10b981 65%, #3b82f6 75%);
  background-size: 275% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 1s linear infinite;
}

@keyframes rainbow {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

